@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Nunito", sans-serif;
}

.card {
  @apply max-w-sm mx-auto p-6 rounded-lg shadow-2xl text-center bg-gray-100;
}

.contact-name {
  @apply text-3xl m-4 tracking-wide;
}

.contact-info {
  @apply text-xl text-gray-600 tracking-wide m-2;
}

.contact-link:hover {
  @apply text-gray-900;
}

button {
  @apply rounded bg-gray-300 px-1 shadow;
}

button:hover {
  @apply bg-gray-400;
}

button:focus {
  outline: none;
}

button:active {
  @apply shadow-none;
}

.clipboard {
  @apply ml-3;
}

.clipboard:hover {
  @apply text-gray-900;
}

.toast-container {
  @apply text-center py-4 px-4 absolute bottom-0 inset-x-0;
}

.toast {
  @apply p-2 bg-blue-800 items-center text-blue-100 leading-none rounded-full
  flex inline-flex;
}

.toast-badge {
  @apply flex rounded-full bg-blue-500 uppercase px-2 py-1 text-xs font-bold
  mr-3;
}

.toast-message {
  @apply font-semibold mr-2 text-left flex-auto;
}
